@media (max-width: 576px) {}


@media (max-width: 768px) {
    #shotcut-btns {
        margin-top: -40px;
    }

    #shotcut-btns .row {
        gap: 20px;
    }

    .shotcut-box {
        width: 290px;
        margin: auto;
    }

    .about-img-slider {
        margin-top: 40px;
    }

    .cta-btn-group {
        width: 340px;
        left: 11px;
        top: 125px !important;
    }

    .cta-btn-group a {
        font-size: 30px;
    }

    .g-graphic {
        display: none;
    }

    .contact .bg-dark {
        width: 100%;
    }

    .bg-dark h3 {
        right: 65px !important;
        top: -15px;
        font-size: 87px !important;

    }

    .bg-dark img {
        display: none;
        
    }

    .sports-slider {
        margin-top: 45px;
    }

    .footer-1 {
        margin-bottom: 40px;
    }
    .footer-1 h6{
        font-size: 15px;
    }
}


@media (max-width: 992px) {

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 25px;
    }

    p,
    li,
    a,
    button,
    input {
        font-size: 15px;
    }

    .cta-btn-group a {
        font-size: 25px;
    }

    .cta-btn-group {
        width: 306px;
    }

    .gallery-slider img {
        width: 32%;
    }

    .bg-dark h3 {
        right: 174px;
        top: -26;
    }
    .bg-dark img {
      right: -130px;
        
    }
}

@media (max-width: 1000px) {
    .cta-btn-group {
        top: 11px;
    }
}

@media (max-width: 1200px) {
    .cta-btn-group {
        top: 11px;
    }

    .gallery-slider img {
        width: 49%;
    }

    .bg-dark h3 {
        font-size: 125px;
    }
}


@media (max-width: 1400px) {}