@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Irish+Grover&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --yellow: #EEBA26;
  --dark: #191B1A;
  --grey: #D4D4D4;
  --white: #fff;
  --shadow: 5px 6px 10px -5px rgba(0, 0, 0, 0.68);

}

html {
  /* font-size: 62.5%; */
  /* 1rem = 10px  */
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  color: var(--dark);
}

h1,
h2 {
  font-family: 'Irish Grover', cursive;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: var(--heading-color);
}

h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--heading-color);
}

p {
  color: var(--para-color);
  font-weight: 400 !important;
}

a {
  text-decoration: none;
}

p,
li,
a,
button,
input {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
}

span {
  color: var(--main-color);
}

input,
textarea {}

/* Scrool bar style */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--dark);
}

::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--white);
}


/* custom classes is here  */

span {
  color: var(--yellow);
}

.py-25 {
  padding: 25px 0x !important;
}

.cta-btn-1 {
  padding: 10px 30px;
  font-size: 18px;
  background-color: var(--yellow);
  color: var(--white);
  transition: all 0.4s linear;

}

.cta-btn-1:hover {
  font-size: 18px;
  background-color: var(--white);
  border: 2px solid var(--yellow);
  color: var(--yellow);
  transition: all 0.3s linear;
}

.cta-btn-2 {
  /* padding: 10px 10px; */
  font-size: 18px;
  border-radius: 10px;
  padding: 5px 25px;
  color: var(--white);
  border: none;
  background-color: var(--dark);
  transition: all 0.4s linear;
}

.cta-btn-2:hover {
  background-color: var(--white);
  color: var(--dark);
  transition: all 0.4s linear;
}




/* -------------------------------- Header style start here  */
.nav-link {
  color: var(--dark);
}

.nav-link:hover {
  color: var(--yellow);
}

.active {
  color: var(--yellow);
}

/* -------------------------------- Banner section style start here  */


.banner {
  background-image: url(../img/banner-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  z-index: -3;
  padding: 45px 0px;
}

.overlay {
  background-color: var(--dark);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: -2;
}

/* Schortcut btns style here  */

#shotcut-btns {
  margin-top: -95px;
}

.shotcut-box {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: var(--yellow);
  padding: 20px;
  /* min-height: 220px; */
  text-align: center;
  z-index: 2;
  transition: all 0.3s linear;

  border-bottom: 3px solid var(--dark);
  border-top: 3px solid var(--dark);

}

.schortcut-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 15px;
}

.shotcut-box i {
  font-size: 40px;
}

.shotcut-box:hover,
.sh-active {
  background-color: var(--dark);
  color: var(--white);
  box-shadow: var(--shadow);
  border-bottom: 2px solid var(--yellow);
  border-top: 2px solid var(--yellow);
  margin-top: -10px;
  transition: all 0.3s linear;
}

.shotcut-box:hover i,
.sh-active {
  color: var(--yellow);
  transition: all 0.3s linear;

}

/* -------------------------------- About section style start here  */

.about-img-slide img {
  border-radius: 15px;
  box-shadow: var(--shadow);
  -webkit-box-shadow: 5px 6px 10px -5px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 5px 6px 10px -5px rgba(0, 0, 0, 0.68);
}

.about-sec .carousel-indicators {
  bottom: -50px;
}

.about-sec .carousel-indicators button {
  margin-top: 10px;
  background-color: var(--dark);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* -------------------------------- About section style start here  */

#teachers {
  background-color: var(--yellow);
}

.teacher-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.teacher-slide {
  background-color: #F8E3A6;
  border-radius: 10px;
  /* color: var(--white); */
  padding: 20px;
  margin: 0px 10px;
}

.teacher-img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.teacher-img img {
  height: 80px;
  width: 80px;
  border-radius: 50%;

}

.checked {
  color: gold !important;
}

.rating span {
  color: #d8bd6a;
}

/* -------------------------------- Gallery section style start here  */

.gallery-slider {
  columns: 3 250px;
  gap: 15px;
}

.gallery-slider img {
  margin-bottom: 15px;
  border-radius: 10px;
  width: 100%;
}


.gl-content {
  position: relative;
  display: flex;
  align-items: end;
}

.cta-btn-group {
  position: absolute;
  width: 400px;
  left: 199px;
  top: 66px;
}

.cta-btn-group a {
  font-size: 40px;
  pointer-events: none;
}

#y-btn {
  margin-top: 10px;
  margin-left: 87px;
}

/* -------------------------------- Reiew section style start here  */

#review-sec {
  background-color: ghostwhite;
  position: relative;
  z-index: -2;
}

.qoute-img {
  position: absolute;
  top: -15px;
  left: 20px;
  z-index: -1;
  width: 350px;
  opacity: 0.03;
}

.review-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.review-slide {
  background-color: var(--white);
  border-radius: 10px;
  padding: 20px;
  min-width: 275px;
  margin: 0px 10px;
  border-bottom: 4px solid var(--yellow) !important;

}

.review-active {
  border-bottom: 4px solid var(--yellow) !important;
  box-shadow: var(--shadow);
}

.review-img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.review-slide img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid var(--yellow);
}

/* -------------------------------- Number section style start here  */

#nuber-sec {
  background-color: var(--yellow);
}

.number-box {
  border: 3px solid var(--white);
  color: var(--white);
  /* padding: 20px; */
  width: 145px;
  margin: auto;
  /* height: 210px; */
}

.number-box i {
  font-size: 50px;
}

.number-box p {
  color: var(--dark);
  font-weight: 700 !important;
}

/* -------------------------------- Contact section style start here  */

.contact {
  position: relative;
}

.contact .bg-dark {
  position: absolute;
  width: 80%;
  height: 93%;
  bottom: 0;
  background-color: var(--dark);
  z-index: -1;
  border-radius: 0px 10px 10px 0px;

}

.bg-dark h3 {
  position: absolute;
  color: var(--white);
  right: 220px;
  top: -14px;
  font-size: 148px;
  opacity: 0.20;
}

.contact-content {
  color: var(--white);
  padding-top: 215px;
}

.contact-form {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--yellow);
  margin-top: 120px;
  max-width: 400px;
  box-shadow: var(--shadow);
}

.contact-form input,
textarea {
  width: 100%;
  border: none;
  background-color: var(--white);
  border-radius: 10px;
  padding: 5px 20px;
  margin-bottom: 10px;
}

/* -------------------------------- Sports section style start here  */

.sports-slider {
  display: flex;
  gap: 20px;
}

.sports-slide {
  margin: auto 10px;
}

.sports-slide img {
  border-radius: 10px;
  width: 160px;
  height: 230px;
}

.sports-active {
  width: 240px !important;
  height: 310px !important;
  box-shadow: var(--shadow);
  border-bottom: 4px solid var(--yellow);
  border-top: 4px solid var(--yellow);
}


footer {
  background-color: var(--dark);
  color: var(--white);
}

footer a {
  color: var(--white);
  transition: all 0.5s linear;
}

footer a:hover {
  color: var(--yellow);
  margin-left: 10px;
  transition: all 0.5s linear;

}

footer li {
  margin-bottom: 15px;
}

.social-link {
  display: flex;
  gap: 20px;
  align-items: center;

}

.social-link a:hover {
  color: var(--yellow);
  border: 2px solid var(--yellow);
}

.social-link a {
  padding: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link a i {
  font-size: 20px;
}