/* Nav menus css is here  */

.elevation-4 {
    box-shadow: none !important;
}

.sidebar {
    padding-right: 0px !important;
}

.sidebar ul li a ion-icon {
    margin-right: 10px;
    font-size: 20px;
    margin-bottom: -5px;
}

.nav-sidebar>.nav-item.menu-open>.nav-link,
.nav-sidebar>.nav-item>.nav-link:hover,
.nav-sidebar>.nav-item>.nav-link.active,
.nav-item .menu-is-opening .menu-open a .active {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}